/* Get Fonts From Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  color: #111;
}

h1,
h2,
h3 {
  font-weight: normal;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #111;
}

input,
button {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
}

.container-full {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-fluid {
    width: 100%;
    max-width: 1440px;
    margin: 0 48px;
}

/* Hero Section Style */
.hero {
    padding: 82px 0;
    background-color: #F9F6E2;
}

.hero__conent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 29px;
}

.hero__body {
    width: 100%;
    max-width: 703px;
    text-align: center;
}

.hero__subtext {
    font-size: 32px;
    font-weight: 500;
    color: #111;
}

.hero__title {
    margin: 45px 0 67px;
    font-size: 58px;
    font-weight: 700;
    color: #111;
}

.title--pink {
    color: #E527B2;
}

.hero__promo {
    font-size: 24px;
    font-weight: 500;
    color: #111;
}

.promo--code {
    display: inline-block;
    padding: 14px 26px;
    border-radius: 8px;
    background-color: #E527B2;
    color: #fff;
    font-weight: 600;
    margin-left: 16px;
    text-transform: uppercase;
}

.hero__thumb {
    width: 100%;
    max-width: 708px;
    height: 708px;
}

.hero__thumb > img {
    height: 100%;
}


















@media screen and (max-width: 1439.99px) {
    .container-fluid {
        max-width: 1160px;
    }

    .hero__thumb {
        max-width: 500px;
        height: auto;
    }
}

@media screen and (max-width: 1199.99px) {
    .container-fluid {
        max-width: 960px;
    }    
}

@media screen and (max-width: 1023.99px) {
    .container-fluid {
        max-width: 760px;
    }   

    .hero__conent {
        flex-direction: column;
    }

    .hero__title {
        font-size: 56px;
        margin: 40px 0;
    }
}

@media screen and (max-width: 767.99px) {
    .container-fluid {
        max-width: 540px;
    }    

    .hero__title {
        font-size: 48px;
    }

    .hero {
        padding: 60px 0;
    }
}

@media screen and (max-width: 555.99px) {
    .container-fluid {
        max-width: 100%;
        margin: 0 20px;
    }    

    .hero {
        padding: 40px 0;
    }

    .hero__subtext {
        font-size: 24px;
    }

    .hero__title {
        font-size: 36px;
    }

    .hero__thumb {
        max-width: 300px;
    }

    .hero__promo {
        font-size: 18px;
    }

    .promo--code {
        padding: 8px 22px;
        font-weight: 500;
        margin-left: 12px;
    }

}